---
import StarsDisplay from './StarsDisplay.astro';
interface Props {
    /** The title of the product */
    tittle: string;
    /** The price or the price range of the product */
    price: number | { before: number; after: number };
    /** The stars of the product (1-5) */
    stars: number;
    /** The image of the product */
    image: string;
    /** The description of the product */
    desc: string;
    /** The stock of the product */
    stock: number;
}

const { tittle, price, stars, image, desc, stock }: Props = Astro.props;
---

<article class="simple-product">
    <img src={image} alt="Product image" />
    <aside>
        <div class="tittle-price">
            <h3>{tittle}</h3>
            <span class="price">
                {typeof price === 'number' ? 
                    <em>{price}</em>
                    : 
                    <>
                        <span class="before">${price.before}</span>
                        <em>${price.after}</em>
                    </>
                }
            </span>
        </div>
        <StarsDisplay count={stars} />
        <span class=`stock`>
            <i class="dot"/>
            {stock} left in Stock
        </span>
    </aside>
    <p class="desc">{desc}</p>
</article>

<style>
    .simple-product {
        display: -ms-grid;
        display: grid;
            grid-template-areas: "image aside"
                                "image desc";
        -ms-grid-columns: .5fr var(--space-2) 2fr;
        grid-template-columns: .5fr 2fr;
        -ms-grid-rows: auto var(--space-2) auto;
        grid-template-rows: auto auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: var(--space-2);
        & img {
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            -ms-grid-column: 1;
            grid-area: image;
            background-color: var(--accent);
            border-radius: var(--space-2);
        }
        & aside {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            grid-area: aside;
            & .tittle-price {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                & h3 { font-weight: 400; }
                & .price {
                    font-weight: 600;
                    font-size: 1.2rem;
    
                    & .before {
                        text-decoration: line-through;
                        margin-right: 0.5rem;
                        font-size: 0.9rem;
                        color: #969696;
                    }
                }
            }
            & .stock {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                font-weight: 300;
                color: #37465A;

                & .dot {
                    display: inline-block;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    background-color: var(--accent);
                    border: var(--space-1) solid var(--accent-light);
                    margin-right: 0.5rem;
                }
            }
        }
        & .desc {
            -ms-grid-row: 3;
            -ms-grid-column: 3;
            grid-area: desc;
            font-size: 0.9rem;
            color: var(--text-secondary);
        }
    }

    @media screen and (max-width: 800px) {
        .simple-product {
                grid-template-areas: "image aside"
                                    "desc desc";
        }
        & img {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-column: 1;
        }
        & aside {
                -ms-grid-row: 1;
                -ms-grid-column: 2;
        }
        & .desc {
                -ms-grid-row: 2;
                -ms-grid-column: 1;
                -ms-grid-column-span: 2;
        }
    }
</style>